{"http_interactions": [{"request": {"method": "POST", "uri": "https://test-api.geotrust.com/webtrust/partner", "headers": {"Content-Type": "application/x-www-form-urlencoded"}, "body": {"string": "billsameastech=True&admincontactphone=2103122400&password=<<SYMANTEC_PASSWORD_QUOTED>>&partnercode=<<SYMANTEC_PARTNER>>&admincontacttitle=Caesar&responsetype=XML&command=QuickOrder&validityperiod=12&admincontactregion=TX&partnerorderid=<<OrderID>>&organizationphone=2103124000&admincontactemail=admincontact%40example.com&admincontactfirstname=John&addressline1=5000+Walzem&webservertype=20&serverCount=1&username=<<SYMANTEC_USER>>&admincontactcountry=US&country=US&organizationname=MyOrg&admincontactlastname=Doe&postalcode=78218&region=TX&approveremail=administrator%40example.com&techsameasadmin=True&productcode=QuickSSLPremium&admincontactcity=San+Antonio&admincontactpostalcode=78218&csr=<<CSR_QUOTED>>&city=San+Antonio&admincontactaddressline1=123+Road", "encoding": "utf-8"}}, "response": {"url": "https://test-api.geotrust.com/webtrust/partner", "headers": {}, "status": {"code": 200, "message": "OK"}, "body": {"string": "<?xml version=\"1.0\" encoding=\"UTF-8\"?><QuickOrder><GeoTrustOrderID>1825925</GeoTrustOrderID><OrderResponseHeader><Timestamp>2014-08-05T16:45:21.560+0000</Timestamp><PartnerOrderID><<OrderID>></PartnerOrderID><SuccessCode>0</SuccessCode></OrderResponseHeader></QuickOrder>", "encoding": null}}, "recorded_at": "2014-08-05T16:45:21"}, {"request": {"method": "POST", "uri": "https://test-api.geotrust.com/webtrust/partner", "headers": {"Content-Type": "application/x-www-form-urlencoded"}, "body": {"string": "responsetype=XML&partnercode=<<SYMANTEC_PARTNER>>&password=<<SYMANTEC_PASSWORD_QUOTED>>&productcode=QuickSSLPremium&command=ModifyOrder&partnerorderid=<<OrderID>>&modifyorderoperation=APPROVE&username=<<SYMANTEC_USER>>", "encoding": "utf-8"}}, "response": {"url": "https://test-api.geotrust.com/webtrust/partner", "headers": {}, "status": {"code": 200, "message": "OK"}, "body": {"string": "<?xml version=\"1.0\" encoding=\"UTF-8\"?><ModifyOrder><OrderResponseHeader><Timestamp>2014-08-05T16:45:23.427+0000</Timestamp><Errors><Error><ErrorCode>-2011</ErrorCode><ErrorField/><ErrorMessage>Unable to approve order 1825925.  Order state is now Failed Security Review</ErrorMessage></Error></Errors><PartnerOrderID><<OrderID>></PartnerOrderID><SuccessCode>-1</SuccessCode></OrderResponseHeader></ModifyOrder>", "encoding": null}}, "recorded_at": "2014-08-05T16:45:23"}, [...]
{"request": {"method": "POST", "uri": "https://test-api.geotrust.com/webtrust/partner", "headers": {"Content-Type": "application/x-www-form-urlencoded"}, "body": {"string": "reissueemail=admincontact%40example.com&partnercode=<<SYMANTEC_PARTNER>>&responsetype=XML&csr=<<CSR_QUOTED>>&productcode=QuickSSLPremium&command=Reissue&partnerorderid=<<OrderID>>&password=<<SYMANTEC_PASSWORD_QUOTED>>&username=<<SYMANTEC_USER>>", "encoding": "utf-8"}}, "response": {"url": "https://test-api.geotrust.com/webtrust/partner", "headers": {}, "status": {"code": 200, "message": "OK"}, "body": {"string": "<?xml version=\"1.0\" encoding=\"UTF-8\"?><Reissue><GeoTrustOrderID>1825925</GeoTrustOrderID><OrderResponseHeader><Timestamp>2014-08-05T16:45:30.558+0000</Timestamp><PartnerOrderID><<OrderID>></PartnerOrderID><SuccessCode>0</SuccessCode></OrderResponseHeader></Reissue>", "encoding": null}}, "recorded_at": "2014-08-05T16:45:30"}, {"request": {"method": "POST", "uri": "https://test-api.geotrust.com/webtrust/partner", "headers": {"Content-Type": "application/x-www-form-urlencoded"}, "body": {"string": "responsetype=XML&partnercode=<<SYMANTEC_PARTNER>>&password=<<SYMANTEC_PASSWORD_QUOTED>>&productcode=QuickSSLPremium&command=GetOrderByPartnerOrderID&partnerorderid=<<OrderID>>&returncertificateinfo=true&username=<<SYMANTEC_USER>>", "encoding": "utf-8"}}, "response": {"url": "https://test-api.geotrust.com/webtrust/partner", "headers": {}, "status": {"code": 200, "message": "OK"}, "body": {"string": "<?xml version=\"1.0\" encoding=\"UTF-8\"?><GetOrderByPartnerOrderID><QueryResponseHeader><Timestamp>2014-08-05T16:45:31.282+0000</Timestamp><SuccessCode>0</SuccessCode><ReturnCount>1</ReturnCount></QueryResponseHeader><OrderDetail><CertificateInfo><CommonName>example.com</CommonName><OrganizationalUnit>Domain Control Validated - QuickSSL(R) Premium</OrganizationalUnit><StartDate>2014-08-05T16:45:28.000+0000</StartDate><OrganizationalUnit2>See www.geotrust.com/resources/cps (c)14</OrganizationalUnit2><OrganizationalUnit3>GT24830913</OrganizationalUnit3><EndDate>2014-08-13T07:34:13.000+0000</EndDate><WebServerType>apacheopenssl</WebServerType><CertificateStatus>PENDING_REISSUE</CertificateStatus></CertificateInfo><OrderInfo><Method>RESELLER</Method><DomainName>example.com</DomainName><ProductCode>QUICKSSLPREMIUM</ProductCode><PartnerOrderID><<OrderID>></PartnerOrderID><ServerCount>1</ServerCount><ValidityPeriod>13</ValidityPeriod><OrderStatusMajor>COMPLETE</OrderStatusMajor><OrderState>COMPLETED</OrderState><OrderDate>2014-08-05T16:45:18.000+0000</OrderDate><GeoTrustOrderID>1825925</GeoTrustOrderID><OrderCompleteDate>2014-08-05T16:45:26.000+0000</OrderCompleteDate><Price>1.0</Price><RenewalInd>Y</RenewalInd></OrderInfo></OrderDetail></GetOrderByPartnerOrderID>", "encoding": null}}, "recorded_at": "2014-08-05T16:45:31"}], "recorded_with": "betamax/0.4.0"}