{"http_interactions": [{"request": {"headers": {"Content-Type": "application/x-www-form-urlencoded"}, "uri": "https://test-api.geotrust.com/webtrust/partner", "method": "POST", "body": {"string": "username=<<SYMANTEC_USER>>&partnercode=<<SYMANTEC_PARTNER>>&responsetype=XML&password=<<SYMANTEC_PASSWORD_QUOTED>>&todate=2014-07-30&command=GetModifiedOrders&fromdate=2014-07-29", "encoding": "utf-8"}}, "response": {"url": "https://test-api.geotrust.com/webtrust/partner", "headers": {}, "status": {"code": 200, "message": "OK"}, "body": {"string": "<?xml version=\"1.0\" encoding=\"UTF-8\"?><GetModifiedOrders><QueryResponseHeader><Timestamp>2014-07-29T19:25:32.276+0000</Timestamp><SuccessCode>0</SuccessCode><ReturnCount>34</ReturnCount></QueryResponseHeader><FromDate>2014-07-29T00:00:00.000+0000</FromDate><ToDate>2014-07-30T00:00:00.000+0000</ToDate><OrderDetails><OrderDetail><ModificationEvents><ModificationEvent><ModificationEventID>21519264</ModificationEventID><ModificationEventName>Order Created</ModificationEventName><ModificationTimestamp>2014-07-29T18:24:58.000+0000</ModificationTimestamp></ModificationEvent></ModificationEvents><OrderInfo><Method>RESELLER</Method><DomainName>example.com</DomainName><ProductCode>QUICKSSLPREMIUM</ProductCode><PartnerOrderID>JapXcfECSiEInTsHmTzMYDskXcRxhX</PartnerOrderID><ServerCount>1</ServerCount><ValidityPeriod>13</ValidityPeriod><OrderStatusMajor>PENDING</OrderStatusMajor><OrderState>WF_DOMAIN_APPROVAL</OrderState><OrderDate>2014-07-29T18:24:58.000+0000</OrderDate><GeoTrustOrderID>1824498</GeoTrustOrderID><Price>1.0</Price><RenewalInd>Y</RenewalInd></OrderInfo></OrderDetail><OrderDetail><ModificationEvents><ModificationEvent><ModificationEventID>21519269</ModificationEventID><ModificationEventName>Order Created</ModificationEventName><ModificationTimestamp>2014-07-29T18:25:12.000+0000</ModificationTimestamp></ModificationEvent></ModificationEvents><OrderInfo><Method>RESELLER</Method><DomainName>example.com</DomainName><ProductCode>QUICKSSLPREMIUM</ProductCode><PartnerOrderID>xFrzrFwyykThMqzEThXyybPeytvWya</PartnerOrderID><Ser[...]
{"request": {"method": "POST", "uri": "https://test-api.geotrust.com/webtrust/partner", "headers": {"Content-Type": "application/x-www-form-urlencoded"}, "body": {"string": "partnercode=<<SYMANTEC_PARTNER>>&admincontactphone=2103122400&password=<<SYMANTEC_PASSWORD_QUOTED>>&billsameastech=True&responsetype=XML&command=QuickOrder&validityperiod=12&admincontactregion=TX&partnerorderid=<<OrderID0>>&organizationphone=2103124000&admincontactpostalcode=78218&admincontactemail=admincontact%40example.com&admincontactfirstname=John&addressline1=5000+Walzem&webservertype=20&serverCount=1&username=<<SYMANTEC_USER>>&admincontactcountry=US&country=US&organizationname=MyOrg&admincontactlastname=Doe&postalcode=78218&region=TX&approveremail=admin%40example.com&techsameasadmin=True&productcode=QuickSSLPremium&admincontactcity=San+Antonio&admincontacttitle=Caesar&csr=<<CSR0_QUOTED>>&city=San+Antonio&admincontactaddressline1=123+Road", "encoding": "utf-8"}}, "response": {"url": "https://test-api.geotrust.com/webtrust/partner", "headers": {}, "status": {"code": 200, "message": "OK"}, "body": {"string": "<?xml version=\"1.0\" encoding=\"UTF-8\"?><QuickOrder><GeoTrustOrderID>1825921</GeoTrustOrderID><OrderResponseHeader><Timestamp>2014-08-05T16:43:58.386+0000</Timestamp><PartnerOrderID><<OrderID0>></PartnerOrderID><SuccessCode>0</SuccessCode></OrderResponseHeader></QuickOrder>", "encoding": null}}, "recorded_at": "2014-08-05T16:43:58"}, {"request": {"method": "POST", "uri": "https://test-api.geotrust.com/webtrust/partner", "headers": {"Content-Type": "application/x-www-form-urlencoded"}, "body": {"string": "partnercode=<<SYMANTEC_PARTNER>>&admincontactphone=2103122400&password=<<SYMANTEC_PASSWORD_QUOTED>>&billsameastech=True&responsetype=XML&command=QuickOrder&validityperiod=12&admincontactregion=TX&partnerorderid=<<OrderID1>>&organizationphone=2103124000&admincontactpostalcode=78218&admincontactemail=admincontact%40example.com&admincontactfirstname=John&addressline1=5000+Walzem&webservertype=20&serverCount=1&username=<<SYMANTEC_USER>>&admincontactcountry=US&country=US&organizationname=MyOrg&admincontactlastname=Doe&postalcode=78218&region=TX&approveremail=admin%40example.com&techsameasadmin=True&productcode=QuickSSLPremium&admincontactcity=San+Antonio&admincontacttitle=Caesar&csr=<<CSR1_QUOTED>>&city=San+Antonio&admincontactaddressline1=123+Road", "encoding": "utf-8"}}, "response": {"url": "https://test-api.geotrust.com/webtrust/partner", "headers": {}, "status": {"code": 200, "message": "OK"}, "body": {"string": "<?xml version=\"1.0\" encoding=\"UTF-8\"?><QuickOrder><GeoTrustOrderID>1825922</GeoTrustOrderID><OrderResponseHeader><Timestamp>2014-08-05T16:44:13.639+0000</Timestamp><PartnerOrderID><<OrderID1>></PartnerOrderID><SuccessCode>0</SuccessCode></OrderResponseHeader></QuickOrder>", "encoding": null}}, "recorded_at": "2014-08-05T16:44:13"}, {"request": {"method": "POST", "uri": "https://test-api.geotrust.com/webtrust/partner", "headers": {"Content-Type": "application/x-www-form-urlencoded"}, "body": {"string": "responsetype=XML&partnercode=<<SYMANTEC_PARTNER>>&password=<<SYMANTEC_PASSWORD_QUOTED>>&productcode=QuickSSLPremium&command=ModifyOrder&partnerorderid=<<OrderID0>>&modifyorderoperation=CANCEL&username=<<SYMANTEC_USER>>", "encoding": "utf-8"}}, "response": {"url": "https://test-api.geotrust.com/webtrust/partner", "headers": {}, "status": {"code": 200, "message": "OK"}, "body": {"string": "<?xml version=\"1.0\" encoding=\"UTF-8\"?><ModifyOrder><OrderResponseHeader><Timestamp>2014-08-05T16:44:14.929+0000</Timestamp><PartnerOrderID><<OrderID0>></PartnerOrderID><SuccessCode>0</SuccessCode></OrderResponseHeader></ModifyOrder>", "encoding": null}}, "recorded_at": "2014-08-05T16:44:14"}, [...]
