{"http_interactions": [{"request": {"method": "POST", "uri": "https://test-api.geotrust.com/webtrust/partner", "headers": {"Content-Type": "application/x-www-form-urlencoded"}, "body": {"string": "billsameastech=True&admincontactphone=2103122400&password=<<SYMANTEC_PASSWORD_QUOTED>>&partnercode=<<SYMANTEC_PARTNER>>&admincontacttitle=Caesar&responsetype=XML&command=QuickOrder&validityperiod=12&admincontactregion=TX&partnerorderid=<<OrderID>>&organizationphone=2103124000&admincontactemail=admincontact%40example.com&admincontactfirstname=John&addressline1=5000+Walzem&webservertype=20&serverCount=1&username=<<SYMANTEC_USER>>&admincontactcountry=US&country=US&organizationname=MyOrg&admincontactlastname=Doe&postalcode=78218&region=TX&approveremail=administrator%40example.com&techsameasadmin=True&productcode=QuickSSLPremium&admincontactcity=San+Antonio&admincontactpostalcode=78218&csr=<<CSR_QUOTED>>&city=San+Antonio&admincontactaddressline1=123+Road", "encoding": "utf-8"}}, "response": {"url": "https://test-api.geotrust.com/webtrust/partner", "headers": {}, "status": {"code": 200, "message": "OK"}, "body": {"string": "<?xml version=\"1.0\" encoding=\"UTF-8\"?><QuickOrder><GeoTrustOrderID>1825924</GeoTrustOrderID><OrderResponseHeader><Timestamp>2014-08-05T16:44:54.262+0000</Timestamp><PartnerOrderID><<OrderID>></PartnerOrderID><SuccessCode>0</SuccessCode></OrderResponseHeader></QuickOrder>", "encoding": null}}, "recorded_at": "2014-08-05T16:44:54"}], "recorded_with": "betamax/0.4.0"}