{"http_interactions": [{"request": {"method": "POST", "uri": "https://test-api.geotrust.com/webtrust/partner", "headers": {"Content-Type": "application/x-www-form-urlencoded"}, "body": {"string": "partnercode=<<SYMANTEC_PARTNER>>&admincontactphone=2103122400&password=<<SYMANTEC_PASSWORD_QUOTED>>&billsameastech=True&responsetype=XML&command=QuickOrder&validityperiod=12&admincontactregion=TX&partnerorderid=<<OrderID>>&organizationphone=2103124000&admincontactpostalcode=78218&admincontactemail=admincontact%40example.com&admincontactfirstname=John&addressline1=5000+Walzem&webservertype=20&serverCount=1&username=<<SYMANTEC_USER>>&admincontactcountry=US&country=US&organizationname=MyOrg&admincontactlastname=Doe&postalcode=78218&region=TX&approveremail=admin%40example.com&techsameasadmin=True&productcode=QuickSSLPremium&admincontactcity=San+Antonio&admincontacttitle=Caesar&csr=<<CSR_QUOTED>>&city=San+Antonio&admincontactaddressline1=123+Road", "encoding": "utf-8"}}, "response": {"url": "https://test-api.geotrust.com/webtrust/partner", "headers": {}, "status": {"code": 200, "message": "OK"}, "body": {"string": "<?xml version=\"1.0\" encoding=\"UTF-8\"?><QuickOrder><GeoTrustOrderID>1825920</GeoTrustOrderID><OrderResponseHeader><Timestamp>2014-08-05T16:43:40.136+0000</Timestamp><PartnerOrderID><<OrderID>></PartnerOrderID><SuccessCode>0</SuccessCode></OrderResponseHeader></QuickOrder>", "encoding": null}}, "recorded_at": "2014-08-05T16:43:40"}, {"request": {"method": "POST", "uri": "https://test-api.geotrust.com/webtrust/partner", "headers": {"Content-Type": "application/x-www-form-urlencoded"}, "body": {"string": "responsetype=XML&partnercode=<<SYMANTEC_PARTNER>>&password=<<SYMANTEC_PASSWORD_QUOTED>>&productcode=QuickSSLPremium&command=ModifyOrder&partnerorderid=<<OrderID>>&modifyorderoperation=CANCEL&username=<<SYMANTEC_USER>>", "encoding": "utf-8"}}, "response": {"url": "https://test-api.geotrust.com/webtrust/partner", "headers": {}, "status": {"code": 200, "message": "OK"}, "body": {"string": "<?xml version=\"1.0\" encoding=\"UTF-8\"?><ModifyOrder><OrderResponseHeader><Timestamp>2014-08-05T16:43:41.625+0000</Timestamp><PartnerOrderID><<OrderID>></PartnerOrderID><SuccessCode>0</SuccessCode></OrderResponseHeader></ModifyOrder>", "encoding": null}}, "recorded_at": "2014-08-05T16:43:41"}, {"request": {"method": "POST", "uri": "https://test-api.geotrust.com/webtrust/partner", "headers": {"Content-Type": "application/x-www-form-urlencoded"}, "body": {"string": "responsetype=XML&partnercode=<<SYMANTEC_PARTNER>>&password=<<SYMANTEC_PASSWORD_QUOTED>>&command=GetOrderByPartnerOrderID&partnerorderid=<<OrderID>>&username=<<SYMANTEC_USER>>", "encoding": "utf-8"}}, "response": {"url": "https://test-api.geotrust.com/webtrust/partner", "headers": {}, "status": {"code": 200, "message": "OK"}, "body": {"string": "<?xml version=\"1.0\" encoding=\"UTF-8\"?><GetOrderByPartnerOrderID><QueryResponseHeader><Timestamp>2014-08-05T16:43:42.670+0000</Timestamp><SuccessCode>0</SuccessCode><ReturnCount>1</ReturnCount></QueryResponseHeader><OrderDetail><OrderInfo><Method>RESELLER</Method><DomainName>example.com</DomainName><ProductCode>QUICKSSLPREMIUM</ProductCode><PartnerOrderID><<OrderID>></PartnerOrderID><ServerCount>1</ServerCount><ValidityPeriod>13</ValidityPeriod><OrderStatusMajor>CANCELLED</OrderStatusMajor><OrderState>REJECTED</OrderState><OrderDate>2014-08-05T16:43:37.000+0000</OrderDate><RenewalInd>Y</RenewalInd><Price>1.0</Price><OrderCompleteDate>2014-08-05T16:43:41.000+0000</OrderCompleteDate><GeoTrustOrderID>1825920</GeoTrustOrderID></OrderInfo></OrderDetail></GetOrderByPartnerOrderID>", "encoding": null}}, "recorded_at": "2014-08-05T16:43:42"}], "recorded_with": "betamax/0.4.0"}