{"http_interactions": [{"recorded_at": "2014-07-25T20:31:49", "response": {"headers": {}, "body": {"string": "<?xml version=\"1.0\" encoding=\"UTF-8\"?><QuickOrder><GeoTrustOrderID>1820774</GeoTrustOrderID><OrderResponseHeader><Timestamp>2014-07-25T20:31:49.181+0000</Timestamp><PartnerOrderID><<OrderID0>></PartnerOrderID><SuccessCode>0</SuccessCode></OrderResponseHeader></QuickOrder>", "encoding": null}, "status": {"code": 200, "message": "OK"}, "url": "https://test-api.geotrust.com/webtrust/partner"}, "request": {"uri": "https://test-api.geotrust.com/webtrust/partner", "headers": {"Content-Type": "application/x-www-form-urlencoded"}, "body": {"string": "admincontactaddressline1=123+Road&addressline1=5000+Walzem&region=TX&validityperiod=12&serverCount=1&admincontactcity=San+Antonio&techsameasadmin=True&organizationname=MyOrg&admincontactlastname=Doe&admincontactcountry=US&admincontactphone=2103122400&responsetype=XML&partnerorderid=<<OrderID0>>&city=San+Antonio&admincontacttitle=Caesar&country=US&approveremail=admin%40example.com&csr=<<CSR0_QUOTED>>&organizationphone=2103124000&admincontactpostalcode=78218&billsameastech=True&admincontactemail=admincontact%40example.com&admincontactregion=TX&command=QuickOrder&username=<<SYMANTEC_USER>>&password=<<SYMANTEC_USER>>&webservertype=20&partnercode=<<SYMANTEC_USER>>&postalcode=78218&productcode=QuickSSLPremium&admincontactfirstname=John", "encoding": "utf-8"}, "method": "POST"}}, {"recorded_at": "2014-07-25T20:32:00", "response": {"headers": {}, "body": {"string": "<?xml version=\"1.0\" encoding=\"UTF-8\"?><QuickOrder><GeoTrustOrderID>1820775</GeoTrustOrderID><OrderResponseHeader><Timestamp>2014-07-25T20:32:00.472+0000</Timestamp><PartnerOrderID><<OrderID1>></PartnerOrderID><SuccessCode>0</SuccessCode></OrderResponseHeader></QuickOrder>", "encoding": null}, "status": {"code": 200, "message": "OK"}, "url": "https://test-api.geotrust.com/webtrust/partner"}, "request": {"uri": "https://test-api.geotrust.com/webtrust/partner", "headers": {"Content-Type": "application/x-www-form-urlencoded"}, "body": {"string": "admincontactaddressline1=123+Road&addressline1=5000+Walzem&region=TX&validityperiod=12&serverCount=1&admincontactcity=San+Antonio&techsameasadmin=True&organizationname=MyOrg&admincontactlastname=Doe&admincontactcountry=US&admincontactphone=2103122400&responsetype=XML&partnerorderid=<<OrderID1>>&city=San+Antonio&admincontacttitle=Caesar&country=US&approveremail=admin%40example.com&csr=<<CSR1_QUOTED>>&organizationphone=2103124000&admincontactpostalcode=78218&billsameastech=True&admincontactemail=admincontact%40example.com&admincontactregion=TX&command=QuickOrder&username=<<SYMANTEC_USER>>&password=<<SYMANTEC_USER>>&webservertype=20&partnercode=<<SYMANTEC_USER>>&postalcode=78218&productcode=QuickSSLPremium&admincontactfirstname=John", "encoding": "utf-8"}, "method": "POST"}}, {"recorded_at": "2014-07-25T20:32:42", "response": {"headers": {}, "body": {"string": "<?xml version=\"1.0\" encoding=\"UTF-8\"?><GetOrdersByDateRange><QueryResponseHeader><Timestamp>2014-07-25T20:32:41.545+0000</Timestamp><SuccessCode>0</SuccessCode><ReturnCount>226</ReturnCount></QueryResponseHeader><FromDate>2014-07-25T00:00:00.000+0000</FromDate><ToDate>2014-07-25T00:00:00.000+0000</ToDate><OrderDetails><OrderDetail><OrderInfo><Method>RESELLER</Method><DomainName>example.com</DomainName><ProductCode>QUICKSSLPREMIUM</ProductCode><PartnerOrderID>mjhgUQZTBvmmwInsJgYUXRGsuyDMHN</PartnerOrderID><ServerCount>1</ServerCount><ValidityPeriod>13</ValidityPeriod><OrderStatusMajor>PENDING</OrderStatusMajor><OrderState>WF_DOMAIN_APPROVAL</OrderState><OrderDate>2014-07-25T19:06:28.000+0000</OrderDate><GeoTrustOrderID>1820625</GeoTrustOrderID><Price>1.0</Price><RenewalInd>Y</RenewalInd></OrderInfo></OrderDetail><OrderDetail><OrderInfo><Method>RESELLER</Method><DomainName>example.com</DomainName><ProductCode>QUICKSSLPREMIUM</ProductCode><PartnerOrderID>hEggpDysckkXemmVTBbuFpnbNMIOqz</PartnerOrderID><ServerCount>1</ServerCount><ValidityPeriod>13</ValidityPeriod><OrderStatusMajor>PENDING</OrderStatusMajor><OrderState>WF_DOMAIN_APPROVAL</OrderState><OrderDate>2014-07-25T19:07:24.000+0000</OrderDate><GeoTrustOrderID>1820636</GeoTrustOrderID><Price>1.0</Price><RenewalInd>Y</RenewalInd></OrderInfo></OrderDetail><OrderDetail><OrderInfo><Method>RESELLER</Method><DomainName>example.com</DomainName><ProductCode>QUICKSSLPREMIUM</ProductCode><PartnerOrderID>SwneoXeiLUIcglSPvXaiycMndtblWn</PartnerOrderID><ServerCount>1</ServerCount><ValidityPeriod>13</ValidityPeriod><OrderStatusMajor>CANCELLED</OrderStatusMajor><OrderState>REJECTED</OrderState><OrderDate>2014-07-25T19:13:42.000+0000</OrderDate><GeoTrustOrderID>1820666</GeoTrustOrderID><OrderCompleteDate>2014-07-25T19:13:47.000+0000</OrderCompleteDate><Price>1.0</Price><RenewalInd>Y</RenewalInd></OrderInfo></OrderDetail><OrderDetail><OrderInfo><Method>RESELLER</Method><DomainName>example.com</DomainName><ProductCode>QUICKSSLPREMIUM</ProductCode><PartnerOrderID>HlFrGCZGQCbaNjYYPvVrfcBzusWTzS</PartnerOrderID><ServerCount>1</ServerCount><ValidityPeriod>13</ValidityPeriod><OrderStatusMajor>PENDING</OrderStatusMajor><OrderState>WF_DOMAIN_APPROVAL</OrderState><OrderDate>2014-07-25T19:14:53.000+0000</O[...]
{"recorded_at": "2014-07-25T20:35:56", "response": {"headers": {}, "body": {"string": "<?xml version=\"1.0\" encoding=\"UTF-8\"?><QuickOrder><GeoTrustOrderID>0</GeoTrustOrderID><OrderResponseHeader><Timestamp>2014-07-25T20:35:56.062+0000</Timestamp><Errors><Error><ErrorCode>-2019</ErrorCode><ErrorField>PartnerCode</ErrorField><ErrorMessage>Missing or Invalid Field: PartnerCode</ErrorMessage></Error></Errors><SuccessCode>-1</SuccessCode></OrderResponseHeader></QuickOrder>", "encoding": null}, "status": {"code": 200, "message": "OK"}, "url": "https://test-api.geotrust.com/webtrust/partner"}, "request": {"uri": "https://test-api.geotrust.com/webtrust/partner", "headers": {"Content-Type": "application/x-www-form-urlencoded"}, "body": {"string": "approveremail=admin%40example.com&serverCount=1&responsetype=XML&admincontactphone=2103122400&admincontactemail=admincontact%40example.com&addressline1=5000+Walzem&admincontactregion=TX&billsameastech=True&admincontactfirstname=John&webservertype=20&postalcode=78218&admincontactcity=San+Antonio&validityperiod=12&techsameasadmin=True&productcode=QuickSSLPremium&password=<<SYMANTEC_USER>>&admincontactlastname=Doe&region=TX&partnerorderid=<<OrderID0>>&admincontactcountry=US&organizationphone=2103124000&username=<<SYMANTEC_USER>>&command=QuickOrder&city=San+Antonio&country=US&admincontactaddressline1=123+Road&admincontactpostalcode=78218&admincontacttitle=Caesar&partnercode=<<SYMANTEC_USER>>&organizationname=MyOrg&csr=<<CSR0_QUOTED>>", "encoding": "utf-8"}, "method": "POST"}}, [...]
{"recorded_at": "2014-07-29T19:24:05", "response": {"status": {"code": 200, "message": "OK"}, "body": {"string": "<?xml version=\"1.0\" encoding=\"UTF-8\"?><QuickOrder><GeoTrustOrderID>1824566</GeoTrustOrderID><OrderResponseHeader><Timestamp>2014-07-29T19:24:05.637+0000</Timestamp><PartnerOrderID><<OrderID0>></PartnerOrderID><SuccessCode>0</SuccessCode></OrderResponseHeader></QuickOrder>", "encoding": null}, "headers": {}, "url": "https://test-api.geotrust.com/webtrust/partner"}, "request": {"uri": "https://test-api.geotrust.com/webtrust/partner", "method": "POST", "body": {"string": "csr=<<CSR0_QUOTED>>&partnercode=<<SYMANTEC_PARTNER>>&postalcode=78218&region=TX&admincontactcity=San+Antonio&admincontactemail=admincontact%40example.com&approveremail=admin%40example.com&techsameasadmin=True&username=<<SYMANTEC_USER>>&command=QuickOrder&admincontactphone=2103122400&admincontactfirstname=John&country=US&organizationphone=2103124000&validityperiod=12&admincontactregion=TX&responsetype=XML&city=San+Antonio&admincontacttitle=Caesar&admincontactcountry=US&billsameastech=True&addressline1=5000+Walzem&productcode=QuickSSLPremium&admincontactaddressline1=123+Road&admincontactlastname=Doe&admincontactpostalcode=78218&webservertype=20&serverCount=1&partnerorderid=<<OrderID0>>&password=<<SYMANTEC_PASSWORD_QUOTED>>&organizationname=MyOrg", "encoding": "utf-8"}, "headers": {"Content-Type": "application/x-www-form-urlencoded"}}}, [...]
