{"http_interactions": [{"recorded_at": "2014-07-29T19:26:29", "response": {"status": {"code": 200, "message": "OK"}, "body": {"string": "<?xml version=\"1.0\" encoding=\"UTF-8\"?><QuickOrder><GeoTrustOrderID>1824578</GeoTrustOrderID><OrderResponseHeader><Timestamp>2014-07-29T19:26:29.652+0000</Timestamp><PartnerOrderID><<OrderID>></PartnerOrderID><SuccessCode>0</SuccessCode></OrderResponseHeader></QuickOrder>", "encoding": null}, "headers": {}, "url": "https://test-api.geotrust.com/webtrust/partner"}, "request": {"uri": "https://test-api.geotrust.com/webtrust/partner", "method": "POST", "body": {"string": "csr=<<CSR_QUOTED>>&partnercode=<<SYMANTEC_PARTNER>>&postalcode=78218&region=TX&admincontactcity=San+Antonio&admincontactemail=admincontact%40example.com&approveremail=administrator%40example.com&techsameasadmin=True&username=<<SYMANTEC_USER>>&command=QuickOrder&admincontactphone=2103122400&admincontactfirstname=John&country=US&organizationphone=2103124000&validityperiod=12&admincontactregion=TX&responsetype=XML&city=San+Antonio&admincontacttitle=Caesar&admincontactcountry=US&billsameastech=True&addressline1=5000+Walzem&productcode=QuickSSLPremium&admincontactaddressline1=123+Road&admincontactlastname=Doe&admincontactpostalcode=78218&webservertype=20&serverCount=1&partnerorderid=<<OrderID>>&password=<<SYMANTEC_PASSWORD_QUOTED>>&organizationname=MyOrg", "encoding": "utf-8"}, "headers": {"Content-Type": "application/x-www-form-urlencoded"}}}, {"recorded_at": "2014-07-29T19:26:31", "response": {"status": {"code": 200, "message": "OK"}, "body": {"string": "<?xml version=\"1.0\" encoding=\"UTF-8\"?><ModifyOrder><OrderResponseHeader><Timestamp>2014-07-29T19:26:31.715+0000</Timestamp><Errors><Error><ErrorCode>-2011</ErrorCode><ErrorField/><ErrorMessage>Unable to approve order 1824578.  Order state is now Failed Security Review</ErrorMessage></Error></Errors><PartnerOrderID><<OrderID>></PartnerOrderID><SuccessCode>-1</SuccessCode></OrderResponseHeader></ModifyOrder>", "encoding": null}, "headers": {}, "url": "https://test-api.geotrust.com/webtrust/partner"}, "request": {"uri": "https://test-api.geotrust.com/webtrust/partner", "method": "POST", "body": {"string": "productcode=QuickSSLPremium&partnercode=<<SYMANTEC_PARTNER>>&partnerorderid=<<OrderID>>&responsetype=XML&username=<<SYMANTEC_USER>>&modifyorderoperation=APPROVE&password=<<SYMANTEC_PASSWORD_QUOTED>>&command=ModifyOrder", "encoding": "utf-8"}, "headers": {"Content-Type": "application/x-www-form-urlencoded"}}}, [...]
{"recorded_at": "2014-07-29T19:26:38", "response": {"status": {"code": 200, "message": "OK"}, "body": {"string": "<?xml version=\"1.0\" encoding=\"UTF-8\"?><Reissue><GeoTrustOrderID>1824578</GeoTrustOrderID><OrderResponseHeader><Timestamp>2014-07-29T19:26:38.215+0000</Timestamp><PartnerOrderID><<OrderID>></PartnerOrderID><SuccessCode>0</SuccessCode></OrderResponseHeader></Reissue>", "encoding": null}, "headers": {}, "url": "https://test-api.geotrust.com/webtrust/partner"}, "request": {"uri": "https://test-api.geotrust.com/webtrust/partner", "method": "POST", "body": {"string": "productcode=QuickSSLPremium&partnercode=<<SYMANTEC_PARTNER>>&responsetype=XML&csr=<<CSR_QUOTED>>&username=<<SYMANTEC_USER>>&partnerorderid=<<OrderID>>&password=<<SYMANTEC_PASSWORD_QUOTED>>&command=Reissue&reissueemail=admincontact%40example.com", "encoding": "utf-8"}, "headers": {"Content-Type": "application/x-www-form-urlencoded"}}}, {"recorded_at": "2014-07-29T19:26:38", "response": {"status": {"code": 200, "message": "OK"}, "body": {"string": "<?xml version=\"1.0\" encoding=\"UTF-8\"?><GetOrderByPartnerOrderID><QueryResponseHeader><Timestamp>2014-07-29T19:26:38.899+0000</Timestamp><SuccessCode>0</SuccessCode><ReturnCount>1</ReturnCount></QueryResponseHeader><OrderDetail><CertificateInfo><CommonName>example.com</CommonName><OrganizationalUnit>Domain Control Validated - QuickSSL(R) Premium</OrganizationalUnit><StartDate>2014-07-29T19:26:36.000+0000</StartDate><OrganizationalUnit2>See www.geotrust.com/resources/cps (c)14</OrganizationalUnit2><OrganizationalUnit3>GT24830913</OrganizationalUnit3><EndDate>2014-08-06T16:38:20.000+0000</EndDate><WebServerType>apacheopenssl</WebServerType><CertificateStatus>PENDING_REISSUE</CertificateStatus></CertificateInfo><OrderInfo><Method>RESELLER</Method><DomainName>example.com</DomainName><ProductCode>QUICKSSLPREMIUM</ProductCode><PartnerOrderID><<OrderID>></PartnerOrderID><ServerCount>1</ServerCount><ValidityPeriod>13</ValidityPeriod><OrderStatusMajor>COMPLETE</OrderStatusMajor><OrderState>COMPLETED</OrderState><OrderDate>2014-07-29T19:26:27.000+0000</OrderDate><GeoTrustOrderID>1824578</GeoTrustOrderID><OrderCompleteDate>2014-07-29T19:26:34.000+0000</OrderCompleteDate><Price>1.0</Price><RenewalInd>Y</RenewalInd></OrderInfo></OrderDetail></GetOrderByPartnerOrderID>", "encoding": null}, "headers": {}, "url": "https://test-api.geotrust.com/webtrust/partner"}, "request": {"uri": "https://test-api.geotrust.com/webtrust/partner", "method": "POST", "body": {"string": "productcode=QuickSSLPremium&partnercode=<<SYMANTEC_PARTNER>>&responsetype=XML&username=<<SYMANTEC_USER>>&partnerorderid=<<OrderID>>&password=<<SYMANTEC_PASSWORD_QUOTED>>&command=GetOrderByPartnerOrderID&returncertificateinfo=true", "encoding": "utf-8"}, "headers": {"Content-Type": "application/x-www-form-urlencoded"}}}], "recorded_with": "betamax/0.3.2"}