{"http_interactions": [{"recorded_at": "2014-07-29T19:24:39", "response": {"status": {"code": 200, "message": "OK"}, "body": {"string": "<?xml version=\"1.0\" encoding=\"UTF-8\"?><QuickOrder><GeoTrustOrderID>1824568</GeoTrustOrderID><OrderResponseHeader><Timestamp>2014-07-29T19:24:38.970+0000</Timestamp><PartnerOrderID><<OrderID>></PartnerOrderID><SuccessCode>0</SuccessCode></OrderResponseHeader></QuickOrder>", "encoding": null}, "headers": {}, "url": "https://test-api.geotrust.com/webtrust/partner"}, "request": {"uri": "https://test-api.geotrust.com/webtrust/partner", "method": "POST", "body": {"string": "csr=<<CSR_QUOTED>>&partnercode=<<SYMANTEC_PARTNER>>&postalcode=78218&region=TX&admincontactcity=San+Antonio&admincontactemail=admincontact%40example.com&approveremail=admin%40example.com&techsameasadmin=True&username=<<SYMANTEC_USER>>&command=QuickOrder&admincontactphone=2103122400&admincontactfirstname=John&country=US&organizationphone=2103124000&validityperiod=12&admincontactregion=TX&responsetype=XML&city=San+Antonio&admincontacttitle=Caesar&admincontactcountry=US&billsameastech=True&addressline1=5000+Walzem&productcode=QuickSSLPremium&admincontactaddressline1=123+Road&admincontactlastname=Doe&admincontactpostalcode=78218&webservertype=20&serverCount=1&partnerorderid=<<OrderID>>&password=<<SYMANTEC_PASSWORD_QUOTED>>&organizationname=MyOrg", "encoding": "utf-8"}, "headers": {"Content-Type": "application/x-www-form-urlencoded"}}}, {"recorded_at": "2014-07-29T19:24:39", "response": {"status": {"code": 200, "message": "OK"}, "body": {"string": "<?xml version=\"1.0\" encoding=\"UTF-8\"?><GetOrderByPartnerOrderID><QueryResponseHeader><Timestamp>2014-07-29T19:24:39.867+0000</Timestamp><SuccessCode>0</SuccessCode><ReturnCount>1</ReturnCount></QueryResponseHeader><OrderDetail><OrderInfo><Method>RESELLER</Method><DomainName>example.com</DomainName><ProductCode>QUICKSSLPREMIUM</ProductCode><PartnerOrderID><<OrderID>></PartnerOrderID><ServerCount>1</ServerCount><ValidityPeriod>13</ValidityPeriod><OrderStatusMajor>PENDING</OrderStatusMajor><OrderState>WF_DOMAIN_APPROVAL</OrderState><OrderDate>2014-07-29T19:24:36.000+0000</OrderDate><GeoTrustOrderID>1824568</GeoTrustOrderID><Price>1.0</Price><RenewalInd>Y</RenewalInd></OrderInfo></OrderDetail></GetOrderByPartnerOrderID>", "encoding": null}, "headers": {}, "url": "https://test-api.geotrust.com/webtrust/partner"}, "request": {"uri": "https://test-api.geotrust.com/webtrust/partner", "method": "POST", "body": {"string": "username=<<SYMANTEC_USER>>&partnercode=<<SYMANTEC_PARTNER>>&responsetype=XML&password=<<SYMANTEC_PASSWORD_QUOTED>>&partnerorderid=<<OrderID>>&command=GetOrderByPartnerOrderID", "encoding": "utf-8"}, "headers": {"Content-Type": "application/x-www-form-urlencoded"}}}], "recorded_with": "betamax/0.3.2"}