{"http_interactions": [{"recorded_at": "2014-07-29T19:25:33", "response": {"status": {"code": 200, "message": "OK"}, "body": {"string": "<?xml version=\"1.0\" encoding=\"UTF-8\"?><GetQuickApproverList><QueryResponseHeader><Timestamp>2014-07-29T19:25:32.962+0000</Timestamp><SuccessCode>0</SuccessCode><ReturnCount>6</ReturnCount></QueryResponseHeader><ApproverList><Approver><ApproverEmail>admin@testingsymantecssl.com</ApproverEmail><ApproverType>Generic</ApproverType></Approver><Approver><ApproverEmail>administrator@testingsymantecssl.com</ApproverEmail><ApproverType>Generic</ApproverType></Approver><Approver><ApproverEmail>hostmaster@testingsymantecssl.com</ApproverEmail><ApproverType>Generic</ApproverType></Approver><Approver><ApproverEmail>webmaster@testingsymantecssl.com</ApproverEmail><ApproverType>Generic</ApproverType></Approver><Approver><ApproverEmail>postmaster@testingsymantecssl.com</ApproverEmail><ApproverType>Generic</ApproverType></Approver><Approver><ApproverEmail>support_preprod@geotrust.com</ApproverEmail><ApproverType>Manual</ApproverType></Approver></ApproverList></GetQuickApproverList>", "encoding": null}, "headers": {}, "url": "https://test-api.geotrust.com/webtrust/partner"}, "request": {"uri": "https://test-api.geotrust.com/webtrust/partner", "method": "POST", "body": {"string": "username=<<SYMANTEC_USER>>&partnercode=<<SYMANTEC_PARTNER>>&responsetype=XML&password=<<SYMANTEC_PASSWORD_QUOTED>>&domain=testingsymantecssl.com&command=GetQuickApproverList", "encoding": "utf-8"}, "headers": {"Content-Type": "application/x-www-form-urlencoded"}}}], "recorded_with": "betamax/0.3.2"}