{"http_interactions": [{"recorded_at": "2014-07-29T19:25:11", "response": {"status": {"code": 200, "message": "OK"}, "body": {"string": "<?xml version=\"1.0\" encoding=\"UTF-8\"?><QuickOrder><GeoTrustOrderID>1824574</GeoTrustOrderID><OrderResponseHeader><Timestamp>2014-07-29T19:25:11.019+0000</Timestamp><PartnerOrderID><<OrderID0>></PartnerOrderID><SuccessCode>0</SuccessCode></OrderResponseHeader></QuickOrder>", "encoding": null}, "headers": {}, "url": "https://test-api.geotrust.com/webtrust/partner"}, "request": {"uri": "https://test-api.geotrust.com/webtrust/partner", "method": "POST", "body": {"string": "csr=<<CSR0_QUOTED>>&partnercode=<<SYMANTEC_PARTNER>>&postalcode=78218&region=TX&admincontactcity=San+Antonio&admincontactemail=admincontact%40example.com&approveremail=admin%40example.com&techsameasadmin=True&username=<<SYMANTEC_USER>>&command=QuickOrder&admincontactphone=2103122400&admincontactfirstname=John&country=US&organizationphone=2103124000&validityperiod=12&admincontactregion=TX&responsetype=XML&city=San+Antonio&admincontacttitle=Caesar&admincontactcountry=US&billsameastech=True&addressline1=5000+Walzem&productcode=QuickSSLPremium&admincontactaddressline1=123+Road&admincontactlastname=Doe&admincontactpostalcode=78218&webservertype=20&serverCount=1&partnerorderid=<<OrderID0>>&password=<<SYMANTEC_PASSWORD_QUOTED>>&organizationname=MyOrg", "encoding": "utf-8"}, "headers": {"Content-Type": "application/x-www-form-urlencoded"}}}, {"recorded_at": "2014-07-29T19:25:24", "response": {"status": {"code": 200, "message": "OK"}, "body": {"string": "<?xml version=\"1.0\" encoding=\"UTF-8\"?><QuickOrder><GeoTrustOrderID>1824575</GeoTrustOrderID><OrderResponseHeader><Timestamp>2014-07-29T19:25:24.246+0000</Timestamp><PartnerOrderID><<OrderID1>></PartnerOrderID><SuccessCode>0</SuccessCode></OrderResponseHeader></QuickOrder>", "encoding": null}, "headers": {}, "url": "https://test-api.geotrust.com/webtrust/partner"}, "request": {"uri": "https://test-api.geotrust.com/webtrust/partner", "method": "POST", "body": {"string": "csr=<<CSR1_QUOTED>>&partnercode=<<SYMANTEC_PARTNER>>&postalcode=78218&region=TX&admincontactcity=San+Antonio&admincontactemail=admincontact%40example.com&approveremail=admin%40example.com&techsameasadmin=True&username=<<SYMANTEC_USER>>&command=QuickOrder&admincontactphone=2103122400&admincontactfirstname=John&country=US&organizationphone=2103124000&validityperiod=12&admincontactregion=TX&responsetype=XML&city=San+Antonio&admincontacttitle=Caesar&admincontactcountry=US&billsameastech=True&addressline1=5000+Walzem&productcode=QuickSSLPremium&admincontactaddressline1=123+Road&admincontactlastname=Doe&admincontactpostalcode=78218&webservertype=20&serverCount=1&partnerorderid=<<OrderID1>>&password=<<SYMANTEC_PASSWORD_QUOTED>>&organizationname=MyOrg", "encoding": "utf-8"}, "headers": {"Content-Type": "application/x-www-form-urlencoded"}}}, {"recorded_at": "2014-07-29T19:25:25", "response": {"status": {"code": 200, "message": "OK"}, "body": {"string": "<?xml version=\"1.0\" encoding=\"UTF-8\"?><ModifyOrder><OrderResponseHeader><Timestamp>2014-07-29T19:25:25.419+0000</Timestamp><PartnerOrderID><<OrderID0>></PartnerOrderID><SuccessCode>0</SuccessCode></OrderResponseHeader></ModifyOrder>", "encoding": null}, "headers": {}, "url": "https://test-api.geotrust.com/webtrust/partner"}, "request": {"uri": "https://test-api.geotrust.com/webtrust/partner", "method": "POST", "body": {"string": "productcode=QuickSSLPremium&partnercode=<<SYMANTEC_PARTNER>>&partnerorderid=<<OrderID0>>&responsetype=XML&username=<<SYMANTEC_USER>>&modifyorderoperation=CANCEL&password=<<SYMANTEC_PASSWORD_QUOTED>>&command=ModifyOrder", "encoding": "utf-8"}, "headers": {"Content-Type": "application/x-www-form-urlencoded"}}}, [...]
{"recorded_at": "2014-07-29T19:25:32", "response": {"status": {"code": 200, "message": "OK"}, "body": {"string": "<?xml version=\"1.0\" encoding=\"UTF-8\"?><GetModifiedOrders><QueryResponseHeader><Timestamp>2014-07-29T19:25:32.276+0000</Timestamp><SuccessCode>0</SuccessCode><ReturnCount>34</ReturnCount></QueryResponseHeader><FromDate>2014-07-29T00:00:00.000+0000</FromDate><ToDate>2014-07-30T00:00:00.000+0000</ToDate><OrderDetails><OrderDetail><ModificationEvents><ModificationEvent><ModificationEventID>21519264</ModificationEventID><ModificationEventName>Order Created</ModificationEventName><ModificationTimestamp>2014-07-29T18:24:58.000+0000</ModificationTimestamp></ModificationEvent></ModificationEvents><OrderInfo><Method>RESELLER</Method><DomainName>example.com</DomainName><ProductCode>QUICKSSLPREMIUM</ProductCode><PartnerOrderID>JapXcfECSiEInTsHmTzMYDskXcRxhX</PartnerOrderID><ServerCount>1</ServerCount><ValidityPeriod>13</ValidityPeriod><OrderStatusMajor>PENDING</OrderStatusMajor><OrderState>WF_DOMAIN_APPROVAL</OrderState><OrderDate>2014-07-29T18:24:58.000+0000</OrderDate><GeoTrustOrderID>1824498</GeoTrustOrderID><Price>1.0</Price><RenewalInd>Y</RenewalInd></OrderInfo></OrderDetail><OrderDetail><ModificationEvents><ModificationEvent><ModificationEventID>21519269</ModificationEventID><ModificationEventName>Order Created</ModificationEventName><ModificationTimestamp>2014-07-29T18:25:12.000+0000</ModificationTimestamp></ModificationEvent></ModificationEvents><OrderInfo><Method>RESELLER</Method><DomainName>example.com</DomainName><ProductCode>QUICKSSLPREMIUM</ProductCode><PartnerOrderID>xFrzrFwyykThMqzEThXyybPeytvWya</PartnerOrderID><Ser[...]
