{"http_interactions": [{"request": {"method": "POST", "uri": "https://test-api.geotrust.com/webtrust/partner", "headers": {"Content-Type": "application/x-www-form-urlencoded"}, "body": {"string": "billsameastech=True&admincontactphone=2103122400&password=<<SYMANTEC_PASSWORD_QUOTED>>&partnercode=<<SYMANTEC_PARTNER>>&admincontacttitle=Caesar&responsetype=XML&command=ValidateOrderParameters&validityperiod=12&admincontactregion=TX&partnerorderid=<<OrderID>>&organizationphone=2103124000&admincontactemail=admincontact%40example.com&admincontactfirstname=John&addressline1=5000+Walzem&webservertype=9999&serverCount=1&username=<<SYMANTEC_USER>>&admincontactcountry=US&country=US&organizationname=MyOrg&admincontactlastname=Doe&postalcode=78218&region=TX&approveremail=administrator%40example.com&techsameasadmin=True&productcode=QuickSSLPremium&admincontactcity=San+Antonio&admincontactpostalcode=78218&csr=<<CSR_QUOTED>>&city=San+Antonio&admincontactaddressline1=123+Road", "encoding": "utf-8"}}, "response": {"url": "https://test-api.geotrust.com/webtrust/partner", "headers": {}, "status": {"code": 200, "message": "OK"}, "body": {"string": "<?xml version=\"1.0\" encoding=\"UTF-8\"?><ValidateOrderParameters><ValidityPeriod>0</ValidityPeriod><OrderResponseHeader><Timestamp>2014-08-05T16:45:05.280+0000</Timestamp><Errors><Error><ErrorCode>-2019</ErrorCode><ErrorField>WebServerType</ErrorField><ErrorMessage>Missing or Invalid Field:  WebServerType</ErrorMessage></Error></Errors><PartnerOrderID><<OrderID>></PartnerOrderID><SuccessCode>-1</SuccessCode></OrderResponseHeader><ParsedCSR><State>Texas</State><Country>US</Country><DomainName>example.com</DomainName><EncryptionAlgorithm>RSA</EncryptionAlgorithm><Locality>San Antonio</Locality><Organization>MyOrg</Organization><Email/><HashAlgorithm>SHA1</HashAlgorithm><OrganizationUnit/><IsValidTrueDomainName>true</IsValidTrueDomainName><IsValidQuickDomainName>true</IsValidQuickDomainName><HasBadExtensions>false</HasBadExtensions></ParsedCSR><CertificateSignatureHashAlgorithm>SHA1</CertificateSignatureHashAlgorithm></ValidateOrderParameters>", "encoding": null}}, "recorded_at": "2014-08-05T16:45:05"}], "recorded_with": "betamax/0.4.0"}