{"http_interactions": [{"request": {"method": "POST", "uri": "https://test-api.geotrust.com/webtrust/partner", "headers": {"Content-Type": "application/x-www-form-urlencoded"}, "body": {"string": "responsetype=XML&partnercode=<<SYMANTEC_PARTNER>>&password=<<SYMANTEC_PASSWORD_QUOTED>>&domain=testingsymantecssl.com&command=GetQuickApproverList&username=<<SYMANTEC_USER>>", "encoding": "utf-8"}}, "response": {"url": "https://test-api.geotrust.com/webtrust/partner", "headers": {}, "status": {"code": 200, "message": "OK"}, "body": {"string": "<?xml version=\"1.0\" encoding=\"UTF-8\"?><GetQuickApproverList><QueryResponseHeader><Timestamp>2014-08-05T16:44:23.215+0000</Timestamp><SuccessCode>0</SuccessCode><ReturnCount>6</ReturnCount></QueryResponseHeader><ApproverList><Approver><ApproverEmail>admin@testingsymantecssl.com</ApproverEmail><ApproverType>Generic</ApproverType></Approver><Approver><ApproverEmail>administrator@testingsymantecssl.com</ApproverEmail><ApproverType>Generic</ApproverType></Approver><Approver><ApproverEmail>hostmaster@testingsymantecssl.com</ApproverEmail><ApproverType>Generic</ApproverType></Approver><Approver><ApproverEmail>webmaster@testingsymantecssl.com</ApproverEmail><ApproverType>Generic</ApproverType></Approver><Approver><ApproverEmail>postmaster@testingsymantecssl.com</ApproverEmail><ApproverType>Generic</ApproverType></Approver><Approver><ApproverEmail>support_preprod@geotrust.com</ApproverEmail><ApproverType>Manual</ApproverType></Approver></ApproverList></GetQuickApproverList>", "encoding": null}}, "recorded_at": "2014-08-05T16:44:23"}], "recorded_with": "betamax/0.4.0"}