{"http_interactions": [{"recorded_at": "2014-07-29T19:26:14", "response": {"status": {"code": 200, "message": "OK"}, "body": {"string": "<?xml version=\"1.0\" encoding=\"UTF-8\"?><ValidateOrderParameters><ValidityPeriod>13</ValidityPeriod><Price>$1 USD</Price><OrderResponseHeader><Timestamp>2014-07-29T19:26:14.631+0000</Timestamp><PartnerOrderID><<OrderID>></PartnerOrderID><SuccessCode>0</SuccessCode></OrderResponseHeader><ParsedCSR><State>Texas</State><Country>US</Country><DomainName>example.com</DomainName><EncryptionAlgorithm>RSA</EncryptionAlgorithm><Locality>San Antonio</Locality><Organization>MyOrg</Organization><Email/><HashAlgorithm>SHA1</HashAlgorithm><OrganizationUnit/><IsValidTrueDomainName>true</IsValidTrueDomainName><IsValidQuickDomainName>true</IsValidQuickDomainName><HasBadExtensions>false</HasBadExtensions></ParsedCSR><RenewalInfo><RenewalOrderID>1824548</RenewalOrderID><RenewIndicator>true</RenewIndicator><RenewalMonths>1</RenewalMonths><RenewalSerialNumber>AD16F</RenewalSerialNumber><RenewalExpirationDate>2014-08-06 12:53:13.0</RenewalExpirationDate><RenewalProductCode>QUICKSSLPREMIUM</RenewalProductCode></RenewalInfo><CertificateSignatureHashAlgorithm>SHA1</CertificateSignatureHashAlgorithm></ValidateOrderParameters>", "encoding": null}, "headers": {}, "url": "https://test-api.geotrust.com/webtrust/partner"}, "request": {"uri": "https://test-api.geotrust.com/webtrust/partner", "method": "POST", "body": {"string": "csr=<<CSR_QUOTED>>&partnercode=<<SYMANTEC_PARTNER>>&postalcode=78218&region=TX&admincontactcity=San+Antonio&admincontactemail=admincontact%40example.com&approveremail=administrator%40example.com&techsameasadmin=True&username=<<SYMANTEC_USER>>&command=ValidateOrderParameters&admincontactphone=2103122400&admincontactfirstname=John&country=US&organizationphone=2103124000&validityperiod=12&admincontactregion=TX&responsetype=XML&city=San+Antonio&admincontacttitle=Caesar&admincontactcountry=US&billsameastech=True&addressline1=5000+Walzem&productcode=QuickSSLPremium&admincontactaddressline1=123+Road&admincontactlastname=Doe&admincontactpostalcode=78218&webservertype=20&serverCount=1&partnerorderid=<<OrderID>>&password=<<SYMANTEC_PASSWORD_QUOTED>>&organizationname=MyOrg", "encoding": "utf-8"}, "headers": {"Content-Type": "application/x-www-form-urlencoded"}}}], "recorded_with": "betamax/0.3.2"}